---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre FREMØB</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        Desde que comenzamos nos hemos visto como algo más que una marca; sino como un movimiento que fusiona la expresión individual con un medio de liberación de nuestra energía. Fremob es un proyecto fresco, audaz y vibrante que busca no solo vestir a las personas, sino también inspirarlos a llevar su esencia al siguiente nivel. Seguiremos fieles a estos ideales y por eso nos aseguramos que tanto nuestra ropa como el servicio siempre alcancen el siguiente nivel.



        En FreMøB, usar un atuendo es mas que eso. Es un proceso completo, desde buscar hasta elegir un atuendo que potencie tu individualidad hasta encontrar nuevas formas de expresarte a través de tu vestimenta contandonos en el proceso lo que  piensas de tu compra final. Estamos aquí para ayudarte a disfrutar, así que no dudes en contactarnos si tienes preguntas, comentarios y sugerencias.
      </p>
    </div>
    <div class="w-60 mx-auto max-w-4xl mt-12">


          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src="https://static.wixstatic.com/media/a7cdad_bd7ab97f2ce4475180be52890fabae1a~mv2.png/v1/fill/w_200,h_200,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Fremob.png"
                alt="fremob-brand"
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>
          </div>


    </div>
  </Container>
</Layout>
