---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import TransitionEffect from "@components/react/TransitionEffect";

const pricing = [
  {
    name: "T-Shirt Fremob",
    price: 60.50,
    nuevo: true,
    button: {
      linkImg: "https://static.wixstatic.com/media/a7cdad_1fe6f18ccacb473a9138cb3144ff9c31~mv2.png/v1/fill/w_500,h_500,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a7cdad_1fe6f18ccacb473a9138cb3144ff9c31~mv2.png",
    },
    linkCompra: "/developerPage"
  },
  {
    name: "Hooded Fremob",
    price: 70,
    nuevo: false,
    button: {
      linkImg: "https://static.wixstatic.com/media/a7cdad_89d0c9df1d95421baa6d392d34902f19~mv2.png/v1/fill/w_500,h_500,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a7cdad_89d0c9df1d95421baa6d392d34902f19~mv2.png",
    },
    linkCompra: "/developerPage"
  },
  {
    name: "Polera B/N Fremob",
    price: 80,
    nuevo: false,
    button: {
      linkImg: "https://static.wixstatic.com/media/a7cdad_24209b137d0b4b318221e946b377d627~mv2.png/v1/fill/w_500,h_500,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a7cdad_24209b137d0b4b318221e946b377d627~mv2.png",
    },
    linkCompra: "/developerPage"
  },
  
];
---

<Layout title="Productos">
  <TransitionEffect client:load />
  <Container>
    <Sectionhead>
      <Fragment slot="title">Lo nuevo en Fremob</Fragment>
      <Fragment slot="desc">
        Lanzamientos de prendas pensadas en ti.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
