---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Collección",
    price: "Fallout",
    popular: false,
    features: [
      "falta"
    ],
    button: {
      text: "Comprar",
      link: "/",
    },
  },
  {
    name: "Collección",
    price: "Society",
    popular: false,
    features: [
      "falta"
    ],
    button: {
      text: "Comprar",
      link: "/",
    },
  },
  {
    name: "Collección",
    price: "Fallout",
    popular: false,
    features: [
      "falta"
    ],
    button: {
      text: "Comprar",
      link: "/",
    },
  },
  
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Lo nuevo en Fremob</Fragment>
      <Fragment slot="desc">
        Lanzamientos de prendas pensadas en ti.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
