---
import Link from "./ui/link.astro";

const productos = [
  {
    img: "https://static.wixstatic.com/media/a7cdad_1fe6f18ccacb473a9138cb3144ff9c31~mv2.png/v1/fill/w_500,h_500,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a7cdad_1fe6f18ccacb473a9138cb3144ff9c31~mv2.png",
    title: "Fremob clasic T-Shirt",
    ratin: "3",
    price: "27.00",
  },
  {
    img:"https://static.wixstatic.com/media/a7cdad_89d0c9df1d95421baa6d392d34902f19~mv2.png/v1/fill/w_500,h_500,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a7cdad_89d0c9df1d95421baa6d392d34902f19~mv2.png",
    title:"Hooded Fremob",
    price:"82.50"
  },
  {
    img:"https://static.wixstatic.com/media/a7cdad_28a838a7772541ca9b288d4ca057e253~mv2.png/v1/fill/w_500,h_500,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a7cdad_28a838a7772541ca9b288d4ca057e253~mv2.png",
    title:"Polera B/N Fremob",
    price:"76.50"
  }
];
---

<div
  class="bg-black p-8 md:px-20 md:py-12 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Nuestras Mejores Prendas
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Explora nuestra selecci칩n de prendas urbanas de alta calidad, dise침adas para
    que te sientas c칩modo y con estilo.
  </p>

  <div class="grid grid-cols-1 grid-rows-1 gap-4 mt-10 md:grid-cols-3">
    {
      productos.map((item) => (
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img
              class="p-8 rounded-t-lg drop-shadow-lg"
              src={item.img}
              alt="product image"
            />
          </a>
          <div class="px-5 pb-5">
            <a href="#">
              <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                {item.title}
              </h5>
            </a>
            <div class="flex items-center mt-2.5 mb-5">
              <div class="flex items-center space-x-1 rtl:space-x-reverse">
            
              </div>
            </div>
            <div class="flex items-center justify-between">
              <span class="text-3xl font-bold text-gray-900 dark:text-white">
                S/.{item.price}
              </span>
              <a
                href="#"
                class="text-black border border-black bg-yellow-300 hover:bg-white hover:text-black focus:ring-4  rounded-lg text-sm px-5 py-2.5 text-center ">
                Comprar
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <div class="mx-auto mt-10">
    <Link
      size="lg"
      style="outline"
      rel="noopener"
      href="/"
      class="flex gap-1 font-semibold  rounded-lg items-center justify-center hover:bg-yellow-300"
      target="_blank">
      Ver m치s
    </Link>
  </div>
</div>
