---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Prendas de calidad",
    description:
      "Experimenta la verdadera comodidad con nuestra selección de prendas diseñadas para adaptarse perfectamente a tu estilo de baile",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Diseños unicos",
    description:
      "Explora nuestra colección exclusiva de diseños únicos, creados para destacar y expresar tu estilo individual con originalidad y sofisticación.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Comodidad",
    description:
      "Priorizamos tu confort en cada detalle. Descubre prendas diseñadas para ofrecerte la máxima comodidad, sin comprometer el estilo ni la funcionalidad. ",
    icon: "bx:bxs-data",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Diseñado para su comodidad y estilo
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Nuestra línea de ropa urbana está confeccionada con materiales de alta calidad y atención al detalle, garantizando un ajuste perfecto y una comodidad excepcional.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-yellow-500 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
