<!-- <footer class="my-20 border border-black">
 <p class="text-center text-sm text-slate-500">
    Fremob {new Date().getFullYear()}
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Desarrollado con <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      AstroJS
    </a>
  </p> 
</footer> -->

<footer class="p-4 md:p-8 lg:p-10 lg:border-none dark:bg-gray-800 mt-10 border-t-2 rounded-t-2xl ">
  <div class="mx-auto max-w-screen-xl text-center">
      <div class="flex justify-center items-center my-3">
        <img src="logoBrand.png" alt="logo" class="w-24 ">  
      </div>
      <p class="text-center text-sm text-slate-500">
        {new Date().getFullYear()}
      </p>
      <p class="text-center text-xs text-slate-500 mb-4">
        Desarrollado con <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener"
          class="hover:underline">
          AstroJS
        </a>
      </p> 
  </div>
</footer>